@import url("https://fonts.googleapis.com/css?family=Cormorant");
@import url("https://fonts.googleapis.com/css?family=Eczar");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro");

html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
}
main{
	background-image: linear-gradient(127deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("http://www.kanahei.com/upload/2014/12/01_k_1280_1024.jpg");
}
h2,h3,h4{
	font-family: 'Cormorant', sans-serif;
}
p,li,span{
	font-family: 'Eczar', sans-serif;
}
#nav-bar{
	background-color: #A1DBDB;
	width: 100%;
	height: 70px;
	top: 0;
	position: sticky;
}
ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin: 0;
}
li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 21px 20px;
}
.nav-link{
	text-shadow: 1px 1px 5px #000000;
}
.nav-link:hover{
	background-color: #6BA4A4;
	transition: 0.2s;
}
.divide-line{
	border-top: dashed;
	border-color: #FFFF93;
}
h2{
	font-size: 3em;
	margin: 3% 0 0 10px;
	color: #F28C8C;
}
h3{
	font-size: 2.5em;
	margin: 1% 5% 10px;
	color: #4AB591;
}
h4{
	font-size: 1.5em;
	margin: 5px 5% 0px;
	color: #7072DB;
}
p{
	margin: 5px 5% 0px;
	color: #7072DB;
}
ol{
	font-family: 'Eczar', sans-serif;;
	color: #B98B79;
}
.description,iframe{
	margin: 1.5% 10% 0px;
}
#scrollButton{
	position: fixed;
	border: none;
	border-radius: 100%;
	font-size: 30px;
	margin: 0 1%;
	padding: 1% 2%;
	font-family: 'Anonymous Pro', sans-serif;;
	bottom: 10px;
	right: 10px;
}
#scrollButton:hover{
	background-color: gray;
}
.flex-box{
	border-top-style: none;
	margin-top: 2%;
	padding-top: 1%;
	display: flex;
	justify-content: space-around;
}
#pictureOfHK{
	margin-bottom: 2%;
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-container{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.img-description{
	position: absolute;
	visibility: hidden;
	left: 2.5%;
	bottom: 3%;
	font-family: 'Eczar', sans-serif;
	background: black;
	color: white;
	opacity: 0.5;
	transition: visibility 0s, opacity 0.5s linear; 
}
.img-container:hover{
	cursor: pointer;
}
.img-container:hover div{
	visibility: visible;
	width: 91%;
	padding: 1% 2%;
	opacity: 0.7;
	font-size: 0.8em;
}
.picture{
	width: 70%;
	margin-bottom: 1.5%;
	margin: 5px 5% 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.picture:hover{
	width: 100%;
}
.flex-container{
	border-top-style: none;
	margin: 5px 5% 0px;
	margin-top: 3%;
	flex-direction: column;
}
.flex-paragraph{
	color: #B98B79;
	text-align: center;
}
footer{
	background-color: #B5B5B5;
	margin-top: 3%;
	height: 125px;
}
#footer-paragraph{
	margin-left: 3%;
	padding-top: 3%;
	color: #E4FF1A;
}
.footer-link{
	color: #E4FF1A;
}
/* For cellphone */
@media (max-width: 480px){
	iframe{
		height: 150px;
		width: 300px;
	}
}
